.navbtn{
    color: green;
    background-color: white;
    width: 150px;
    height: 50px;
 
}

.picture{
    margin-left: 50px;
}

.navtext{
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: 25px;
}

.iconText{
    vertical-align: text-top;
}

.iconHome{
    vertical-align: text-bottom;
}

@media screen and (max-width: 768px) {
    .abc {
        display: none;
        /* padding-left: 20px; */
    }
    .mantine-9imojv {
        padding: 0 !important;
    }
}